{% extends "base.html" %}
{% load staticfiles %}
{% block content_header %}
    <h1>
        Deletar registro.
    </h1>
{% endblock %}

{% block content %}
    <!-- Default box -->
    <div class="box">
        <div class="box-body">
            <!-- Modal -->
            <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            </div><!-- /.modal -->
            <!-- forms -->
            <div class="col-sm-6">
                <h3>Tem certeza que deseja deletar <i>"{{ object }}" ?</i></h3>
                <form method="post">{% csrf_token %}
                    <input type="submit" value="Deletar" class="btn btn-danger" />
                </form>
            </div>
        </div>
    </div>
    <!-- THE MODAL WE WILL BE USING -->
    <div class="modal fade" id="modal-book">
        <div class="modal-dialog">
            <div class="modal-content"></div>
        </div>
    </div>
    </div>
{% endblock %}